!!!
%html
  %head
    %title Blog
    = stylesheet_link_tag "application", :media => "all"
    %script{src: "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    = yield

    :plain
      <script id="entry-template" type="text/x-handlebars-template">
          <div class="entry">
            <h1>{{title}}</h1>
            <div class="body">
              {{{body}}}
            </div>
          </div>
      </script>

    %script{src:"http://netdna.bootstrapcdn.com/bootstrap/3.0.2/js/bootstrap.min.js"}